streamlit
pandas
finance-datareader
beautifulsoup4
matplotlib 
plotly
openpyxl
html5lib
beautifulsoup4
numpy==2.0.1
openai==1.37.1
openpyxl==3.1.5
pandas==2.2.2
PyMySQL==1.1.1
python-dotenv==1.0.1
scikit-learn==1.5.1
scipy==1.13.1
SQLAlchemy==2.0.31
streamlit==1.37.0
